# Visual Studio / .NET
.vs/
.vscode/
*.sln
*.suo
*.ntvs*
*.njsproj
*.user
*.suo
*.cache
*.tmp
*.dll
*.pdb
*.cache
*.log
*.jfm
*.gpState
*.aps
*.ncb
*.vspscc
*.vssscc
*.pidb
*.svclog
*.bin
*.userprefs
*.bak
*.zip
*.resharper
*.resharper.user
*.dbmdl
*.dbproj.schemaview
*.dbproj.user
*.testsettings
*.tt
*.t4
*.obj
*.exe
*.msi
*.user
*.iuser
*.pdb
*.ipch
*.opendb
*.opensdf
*.sdf
*.suo
*.bak
*.tmp
*.vssscc
*_i.c
*_p.c
*.ncb
*.log
*.lasttestrun
*.dsw
*.[Pp]ublish.xml
*.tlb
*.idl
*.metaproj
*.mex*
*.log
*.mk
*.aps
*.clw
*.opt
*.plg
*.dll
*.resources
*.lib
*.pdm
*.idb
*.ipdb
*.pch
*.res
*.tlh
*.tli
*.tlb
*.pdb
*.obj
*.ilk
*.mdf
*.ldf
*.sdf
*.mdf
*.ldf
*.mdf
*.ldf
*.user
*.dat
*.xml
*.rptproj.user
*.rptproj
*.ndoc
*.licx
*.vbproj.user
*.vbproj
*.csproj.user
*.csproj
*.dbml.layout
*.dbml
*.dbml.*
*.bak
[Bb]in
[Dd]ebug*/
[Rr]elease*/
x64/*
x86/*
build/
[Bb]uild/
*.[Cc]ache
ClientBin/
[Oo]bj
[Ll]og
[Oo]ut
